.sign-in-form {
    height: 300px;
    width: 350px;
}

.sign-up-form {
    height: 400px;
    width: 350px;
}

.user-settings-form-content {
    display: flex;
    justify-content: center;
}

.user-settings-form-content-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user-settings-avatar-img {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.user-settings-avatar-change-button {
    margin-top: 16px;
    font-weight: bold;
    color: #4375ff;
}

.user-settings-error-label {
    font-size: x-small;
    color: red;
}
