.sign-in-form {
    height: 300px;
    width: 350px;
}
.sign-up-form {
    height: 400px;
    width: 350px;
}
.user-settings-form-content {
    display: flex;
    justify-content: center;
}
.user-settings-form-content-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
}
.user-settings-avatar-img {
    height: 100px;
    width: 100px;
}
.user-settings-avatar-change-button {
    margin-top: 16px;
    font-weight: bold;
    color: #4375ff;
}
.user-settings-error-label {
    font-size: x-small;
    color: red;
}
.chat-list {
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.chat-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    height: 5vh;
}
.chat-list-body {
    display: flex;
    align-items: stretch;
    height: 95vh;
}
.chat-list-body-preview {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    border-right: solid 1px;
}
.chat-list-body-messages {
    display: flex;
    flex-basis: 0;
    flex-grow: 4;
    flex-direction: column-reverse;
}
.chat-list-body-messages-container {
    display: flex;
    flex-direction: column;
    padding: 0 98px 0 172px;
    overflow-y: scroll;
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
}
.chat-list-body-preview-search {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px;
}
.chat-list-body-preview-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
}
.chat-list-body-preview-item {
    background-color: #d8d8d8;
    height: 55px;
    border-bottom: solid 1px;
}
.chat-list-body-preview-item-img {
    height: 100%;
    width: 55px;
    float: left;
    margin-right: 8px;
}
.chat-list-body-preview-item-msg {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.status-code-form {
    height: 150px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.status-code-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}
.status-code-form-text {
    font-size: larger;
    font-weight: bold;
}
.status-code-form-link {
    color: #808ac2;
}
.message-container {
    display: flex;
    height: 55px;
}
.message-container-author-date-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message-container-author-date {
    display: flex;
    justify-content: space-between;
}
.message-date {
    font-size: small;
    color: gray;
}
.message-text {
    white-space: pre-wrap;
}

.chat-list-body-input {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-self: center;
    margin: 8px;
}

.chat-list-body-input-container-img-form {
    display: flex;
    height: 55px;
}

.chat-list-body-input-form {
    height: 40px;
    width: 100%;
    border-color: darkgray;
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
}

.chat-list-body-input-form:focus {
    outline: none;
}

.chat-list-body-input-send-buttom {
    float: right;
    font-weight: bolder;
    color: lightskyblue;
    border: none;
    background: none;
    align-self: flex-end;
    border-radius: 0px;
}

.chat-list-body-input-send-buttom:focus {
    outline: 2px solid lightskyblue;
}
