html,
body {
    padding: 0;
    margin: 0;
}
.base-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5477a4;
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.form-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.base-label {
    color: grey;
}
.form-logo-label {
    color: gray;
    float: left;
}
.input {
    border: none;
    background-color: #d8d8d8;
    color: gray;
    display: block;
}
.input:focus {
    outline: none;
    outline-offset: 0px;
    border: solid darkgrey;
    border-width: 1px;
}
.error-label {
    font-size: small;
    color: red;
}
.form-content-clickable-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}
.confirm-button {
    border: none;
    border-radius: 0;
    background-color: #2c3f5b;
    color: white;
    width: 200px;
}
.link {
    text-decoration: none;
}
.title {
    display: flex;
    align-self: center;
}
.margin-8px {
    margin: 8px;
}
.margin-bottom-4px {
    margin-bottom: 4px;
}
.margin-bottom-8px {
    margin-bottom: 8px;
}
.padding-8px {
    padding: 8px;
}
.hidden {
    visibility: hidden;
}
.circle {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.text-overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.invalid {
    border: solid red;
    border-width: 1px;
}
