.sign-in-form {
    height: 300px;
    width: 350px;
}
.sign-up-form {
    height: 400px;
    width: 350px;
}
.user-settings-form-content {
    display: flex;
    justify-content: center;
}
.user-settings-form-content-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.user-settings-avatar-img {
    height: 100px;
    width: 100px;
}
.user-settings-avatar-change-button {
    margin-top: 16px;
    font-weight: bold;
    color: #4375ff;
}
.user-settings-error-label {
    font-size: x-small;
    color: red;
}
.chat-list {
    height: 95vh;
}
.chat-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    height: 5vh;
}
.chat-list-body {
    display: flex;
    align-items: stretch;
    height: 100%;
}
.chat-list-body-preview {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px;
}
.chat-list-body-messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 4;
}
.chat-list-body-preview-search {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px;
}
.chat-list-body-preview-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.chat-list-body-preview-item {
    background-color: #d8d8d8;
    height: 55px;
    border-bottom: solid 1px;
}
.chat-list-body-preview-item-img {
    height: 100%;
    width: 55px;
    float: left;
    margin-right: 8px;
}
.chat-list-body-preview-item-msg {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
