<div class="base-page">
    <div class="form status-code-form">
        <div class="status-code-form-container">
            <div class="status-code-form-text">{{{errorCode}}}</div>
            <div class="status-code-form-text">{{{errorMessage}}}</div>
        </div>
        <a class="status-code-form-link" href="/">Return to chats</a>
    </div>
</div>